<h1>Preferences</h1>
<p>Artist Sort Order: <%= @preference.artist_sort_order %></p>
<p>Song Sort Order: <%= @preference.song_sort_order %></p>
<p>Allow Create Artists: <%= @preference.allow_create_artists%></p>
<p>Allow Create Songs: <%= @preference.allow_create_songs %></p>
